{% extends 'base.html.twig' %}

{% block title %}Edit Freight{% endblock %}

{% block body %}
    <h1>Edit Freight</h1>

    {{ include('freight/freight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_freight_index') }}">back to list</a>

    {{ include('freight/freight/_delete_form.html.twig') }}
{% endblock %}
